<div class="card">
  <div class="card-header"></div>
  <div class="card-details p-4">
    <div class="d-flex justify-content-between">
      <!-- Get title of card -->
      <span class="categories fw-semibold">{{ data.title }}</span>
      <div
        ngbDropdown
        class="d-inline-block"
        display="dynamic"
        placement="bottom-end"
      >
        <a class="cursor-pointer" id="dropdownBasic1" ngbDropdownToggle>
          <svg
            width="21"
            height="5"
            xmlns="http.
        ://www.w3.org/2000/svg"
          >
            <path
              d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"
              fill="#BBC0FF"
              fill-rule="evenodd"
            />
          </svg>
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          class="dropdown-menu"
        >
          <button ngbDropdownItem (click)="onEdit(data.id)">Edit</button>
          <button ngbDropdownItem (click)="openVerticallyCentered(content)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Delete?</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
        <button class="btn btn-primary" (click)="onDelete(data.id)">
          Confirm
        </button>
      </div>
    </ng-template>
    <div class="duration">
      <div>
        <!-- Get current data -->
        <p class="current mb-0">
          {{ data.current + "hrs" }}
        </p>
      </div>
      <!-- Get previous data -->
      <p class="previous mb-0">
        {{ "Last week " + data.previous + "hrs" }}
      </p>
    </div>
  </div>
</div>
