<div class="dashboard-wrapper">
  <div class="container">
    <div class="d-flex">
      <div class="profile me-4">
        <div class="profile-card border-radius p-4">
          <div class="profile-wrapper mb-3">
            <img src="assets/images/image-jeremy.png" alt="Profile image" />
          </div>
          <div>
            <span class="title text-secondary">Report for</span>
            <p class="profile-name mb-4">Jeremy Robson</p>
          </div>
        </div>
        <div class="filter p-4">
          <div class="mb-3">Daily</div>
          <div class="mb-3">Weekly</div>
          <div>Monthly</div>
        </div>
      </div>
      <div>
        <app-card></app-card>
      </div>
    </div>
  </div>
</div>
