<nav class="navbar navbar-expand-lg navbar-light">
  <div>
    <a class="navbar-brand" href="#">Time Tracker</a>
  </div>
  <div>
    <label for="headerInput" class="d-block d-lg-none">
      <span class="navbar-toggler-icon"></span>
    </label>
    <input type="checkbox" class="d-none" id="headerInput" />
    <div class="bg-white toggle-bar text-center">
      <ul class="nav d-md-flex flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Activities</a>
        </li>
      </ul>
      <form class="d-flex p-2" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="collapse navbar-collapse d-none d-lg-block" id="toggleHeader">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="activities">Activities</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  <div class="d-flex align-items-center d-none d-lg-block">
    <figure class="profile-img mb-0">
      <img src="assets/images/image-jeremy.png" alt="Profile image" />
    </figure>
    <p class="ps-2 mb-0 text-white">Jeremy Robson</p>
  </div>
</nav>
